/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require 'bootstrap/bootstrap.min.css'
 *= require 'pygments_github/github.css'
 *= require 'social/social-buttons.css'
 *= require 'font_awesome/font-awesome.min.css'
 */

html, body {
  height: 100%;
}

@font-face {
  font-family: Hermit;
  src: url("/Hermit.otf") format("opentype");
}

td a {
  color: #666 !important;
}

h1 a:visited, h1 a:hover, h1 a:link, h1 a:active, h1 a:focus {
  color: #666;
  text-decoration: none;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

#push,
#footer {
  height: 60px;
}

#footer {
  background-color: #f5f5f5;
}

.container .credit {
  margin: 20px 0;
}

ul.signin-signup li {
  display: inline;
}

img.gravatar {
  margin-right: 5px;
}
