// Place all the styles related to the pastes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recent-pastes a:visited {
  color: #666;
}

.form-inline .form-group .actions .btn {
  margin-top: 7px;
}

.glyphicon-edit:visited, .glyphicon-edit:link, .glyphicon-edit:active {
  color: #428BCA !important;
  text-decoration: none;
}

.glyphicon-edit:hover {
  color: #2A6496 !important;
}

.glyphicon-remove:visited, .glyphicon-remove:link, .glyphicon-remove:active {
  color: #D9534F !important;
  text-decoration: none;
}

.glyphicon-remove:hover {
  color: #D43F3A !important;
}

table {
  width: 100%;
}

td.lines {
  border-right: 1px solid #ccc;
  text-align: right;
  padding-right: 12px;
  -moz-user-select: none;
  font-size: 12px;
  line-height: 1.4;
}

td.lines span {
  display: block;
}

td.code {
  padding-left: 12px;
  font-size: 12px;
  line-height: 1.4;
}


.code-font {
  font-family: Hermit, Consolas,"Liberation Mono",Courier,monospace;
}

.eighty-ch-line {
  position: absolute;
  left: 654px;
  top: 134px;
  bottom: 77px;
  width: 1px;
  background-color: #ccc;
}
