// Place all the styles related to the pastes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recent-pastes a:visited {
  color: #666;
}

.form-inline .form-group .actions .btn {
  margin-top: 7px;
}

table {
  width: 100%;
}

td.lines {
  border-right: 1px solid #ccc;
  text-align: right;
  padding-right: 12px;
  -moz-user-select: none;
  font-size: 12px;
  line-height: 1.4;
}

td.lines span {
  display: block;
}

td.code {
  padding-left: 12px;
  font-size: 12px;
  line-height: 1.4;
}

.code-font {
  font-family: Hermit, Consolas,"Liberation Mono",Courier,monospace;
}

.code-table-wrapper {
  overflow: auto;
}

.title {
  padding-right: 17px;
}

.btn-toolbar {
  padding-top: 17px;
}

.toppad20 {
  padding-top: 20px;
}

.rightpad15 {
  padding-right: 15px;
}
