        <div class="panel-body recent-pastes">
          <div class="header-line">
            <h3>Recent Pastes</h3>
          </div>
          <hr>
          <ul>
            <% @pastes.each do |paste| %>
            <li>
              <strong><%= link_to paste.title, paste %></strong>
              <br />
              <small><%= createdAgoByUser(paste) %></small>
            </li>
          <% end %>
          </ul>
        </div>
