      <div>
        <div class="pull-left">
          <h3><%= @paste.title %></h3>
        </div>
        <% if user_signed_in? && @paste.user_id == current_user.id %>
        <div class="pull-right" style="margin-top: 20px;">
          <%= link_to( edit_paste_path(@paste), :class => "btn btn-primary" ) do %>
          <span class="glyphicon glyphicon-edit"></span> Edit
          <% end %>
        </div>
        <div class="pull-right" style="margin-top: 20px; margin-right: 10px;">
          <%= link_to( @paste, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" ) do %>
          <span class="glyphicon glyphicon-edit"></span> Delete
          <% end %>
        </div>
        <% end %>
        <div class="clearfix"></div>
      </div>
      <hr>
      <div class="field">
	      <pre><code><%= @paste.content %></code></pre>
      </div>
      <hr>
