<%= inside_layout 'application' do %>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-offset-4">
      <div class="panel-body">
      <% if !notice.nil? %>
        <div class="alert alert-info"><%= notice %></div>
      <% end %>
      <% if !alert.nil? %> 
        <div class="alert alert-danger"><%= alert %></div>
      <% end %>
        <div class="well">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
